[Desktop Entry]
Type=Application
Name=Reboot to Windows
Exec=bash HOME/.local/bin/winboot
Icon=HOME/.local/share/icons/win.svg
X-Shortcut-App=true
Terminal=false
